---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1bf0eaa7e271517b197202fd4897095c&exclude=minutely&lat=38.265427&lon=-104.605087
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615227114,"sunrise":1615209590,"sunset":1615251518,"temp":286.65,"feels_like":282.68,"pressure":1017,"humidity":40,"dew_point":273.33,"uvi":3.94,"clouds":1,"visibility":10000,"wind_speed":2.87,"wind_deg":253,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1615226400,"temp":286.65,"feels_like":282.68,"pressure":1017,"humidity":40,"dew_point":273.33,"uvi":3.94,"clouds":1,"visibility":10000,"wind_speed":2.87,"wind_deg":253,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1615230000,"temp":288.07,"feels_like":283.87,"pressure":1016,"humidity":35,"dew_point":272.8,"uvi":5.67,"clouds":49,"visibility":10000,"wind_speed":3.08,"wind_deg":216,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1615233600,"temp":291.55,"feels_like":285.07,"pressure":1014,"humidity":27,"dew_point":272.34,"uvi":5.16,"clouds":65,"visibility":10000,"wind_speed":6.23,"wind_deg":226,"weather":[{"id":803,"main":"Clouds","descript[...]
