---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=hamburger&latitude=38.265427&longitude=%20-104.605087&open_at=1615231953
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer DMTX39pI8oBmnP6fnNbgk3mQZxn2H-Bxhymo7d5_MsZsmUTO2vY9laaxUajmKqFiwW28v_oYK1G4HUW6jPK39SxipkyBlYxeHCc9nk1A0SKGcQ-vcGIg9t8jx4JFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - f697154d1bf71945
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-03-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-xwckk; site=public_api_v3
      X-Proxied:
      - 10-69-157-99-uswest2bprod
      X-Extlb:
      - 10-69-157-99-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "8wGSggWsopmqoCyd9bY-dw", "alias": "bingo-burger-pueblo-4",
        "name": "Bingo Burger", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/KyMKYZ2W8nyjocqzkrrEog/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/bingo-burger-pueblo-4?adjust_creative=ICVaiA2cVO--N7ra50Plcg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ICVaiA2cVO--N7ra50Plcg",
        "review_count": 406, "categories": [{"alias": "burgers", "title": "Burgers"}],
        "rating": 4.0, "coordinates": {"latitude": 38.268043, "longitude": -104.609794},
        "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1":
        "101 Central Plz", "address2": "", "address3": "", "city": "Pueblo", "zip_code":
        "81003", "country": "US", "state": "CO", "display_address": ["101 Central
        Plz", "Pueblo, CO 81003"]}, "phone": "+17192258363", "display_phone": "(719)
        225-8363", "distance": 503.4703455669647}, {"id": "TJTZuf8hdm2SpqrCKV5n9A",
        "alias": "brues-alehouse-pueblo-3", "name": "Brues Alehouse", "image_url":
        "https://s3-media3.fl.yelpcdn.com/bphoto/Dd1cNms4g4u5g9d5FPmKdw/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/brues-alehouse-pueblo-3?adjust_creative=ICVaiA2cVO--N7ra50Plcg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ICVaiA2cVO--N7ra50Plcg",
        "review_count": 391, "categories": [{"alias": "breweries[...]
