---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f8fbfccf00206c3914eca2d00d8d3af0&exclude=minutely&lat=37.78008&lon=-122.420168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7801,"lon":-122.4202,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1615119149,"sunrise":1615127536,"sunset":1615169353,"temp":279.43,"feels_like":276.02,"pressure":1021,"humidity":76,"dew_point":275.52,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.57,"wind_deg":270,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1615118400,"temp":279.43,"feels_like":275.84,"pressure":1021,"humidity":76,"dew_point":275.52,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.82,"wind_deg":320,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1615122000,"temp":280.18,"feels_like":276.87,"pressure":1021,"humidity":70,"dew_point":275.09,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.32,"wind_deg":327,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1615125600,"temp":280.55,"feels_like":276.88,"pressure":1021,"humidity":68,"dew_point":275.04,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.82,"wind_deg":317,"weather":[{"id":800,"main":"Clear","description":"clear
    [...]
