---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=3uZ4j6GOlvxCir83co6xgeAao26Q8KBF&location=san%20francisco,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Mar 2021 05:26:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"san
        francisco,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"San Francisco County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039201","unknownInput":"","type":"s","latLng":{"lat":37.78008,"lng":-122.420168},"displayLatLng":{"lat":37.78008,"lng":-122.420168},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=3uZ4j6GOlvxCir83co6xgeAao26Q8KBF&type=map&size=225,160&locations=37.78008,-122.420168|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1271312854"}]}]}'
  recorded_at: Mon, 08 Mar 2021 05:26:10 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f8fbfccf00206c3914eca2d00d8d3af0&exclude=minutely&lat=37.78008&lon=-122.420168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7801,"lon":-122.4202,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1615181171,"sunrise":1615127536,"sunset":1615169353,"temp":281.9,"feels_like":277.32,"pressure":1019,"humidity":62,"dew_point":275.03,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":4.12,"wind_deg":260,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1615179600,"temp":281.9,"feels_like":276.41,"pressure":1019,"humidity":62,"dew_point":275.03,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":5.43,"wind_deg":281,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1615183200,"temp":281.91,"feels_like":276.26,"pressure":1019,"humidity":68,"dew_point":276.34,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":5.98,"wind_deg":284,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1615186800,"temp":281.77,"feels_like":276.3,"pressure":1019,"humidity":71,"dew_point":276.82,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":5.84,"wind_deg":288,"weather":[{"id":803,"main":"Clouds","description":"broken[...]
